<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Predi99</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
    rel="stylesheet" />

  <!-- CSS stylesheets -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />

  <link rel="stylesheet" href="/static/css/index.css" />

  <!-- Bootstraps Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/templates/index.html" style="color: #181823">Predi99</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="" style="color: #181823">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" style="color: #181823">About Us</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="main-head">
    <h1 class="headings big-heading">Welcome to PREDI99</h1>
    <h4 class="headings small-heading">A ML based diabetes prediction portal</h4>
  </div><br>

  <strong>{{ prediction_text }}</strong>

  </form>
  <form onsubmit="return searchWrd()" class="pred-form">
    <label for="others">If you have any other symptoms please specify</label>
    <div style="display: flex;">
      <input type="text" name="others" id="word" placeholder="search">
      <button type="submit" style="height: 30px;"><img src="/static/imgs/search.png"
          style="height: 20px; width: 20px;"></button>
    </div>
  </form>

  <script>
    
    function searchWrd() {
      var searchText = document.getElementById("word").value;
      let searchWord = searchText.split(" ");
  
      const prev = ["BP", "bp", "blood-pressure", "cholestrol", "high-weight", "stroke", "hypertension", "heart-disease", "myocardial-infarction", "alcohol", "alcoholic", "health-care", "insurance", "poor-mental-health", " vegetables", " veggies", " fruits", "apple", " mango", " spinach", " tomato", " potaot"];
      const related = ["Type I", "Type II", "polygenic-disease", "diabetes-mellitus", "insulin", "poylgenic-disorder", "heart-failure", "ketoacidosis"];
      let flg = false;
      first:
      for (let i = 0; i < searchWord.length; i++) {
        for (let j = 0; j < prev.length; j++) {
          if (searchWord[i] == prev[j]) {
            alert("This Query has been answered previously.")
            flg  = true;
            break first;
          }
        }
      }
      if(!flg){
        var flg1 = false;
        snd:
        for (let i = 0; i < searchWord.length; i++) {
          for (let j = 0; j < related.length; j++) {
            if (searchWord[j] == related[i]) {
              alert("We suggest you to kindly consult a Doctor.")
              flg1 = true;
              break snd;
            }
          }
        }
        if(!flg1)
        alert("The query is irrelevant.")
      }
      return false;
    }
  </script>

  <footer id="footer" class="white-section">
    <p>© Copyright 2023 PREDI99</p>
  </footer>
</body>

</html>